.videosMasajes {
    @media (min-width: 332px){
        width: 250px;
        height: auto;
    }

    @media (min-width: 332px) and (max-width: 768px){
        width: 300px;
        height: auto;
    }

    @media (min-width: 768px) and (max-width: 992px){
        width: 400px;
        height: auto;
    }
    @media (min-width: 992px){
        width: 500px;
        height: 400px;

    }
}