* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Bad Script', cursive;
    font-size: large;
    list-style: none;
}

.btn {
    display:flex;
    justify-content: center;
}

.boton {
    color: $color-taupe-profundo;
    background-color:$color-alabastro;
    border: solid 3px $color-lobo-de-madera;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    padding: 5px;
} 

.container {
    max-width: 95%;
}

