a {
    color: $color-taupe-profundo;
    text-decoration: none;
}

.titulos {
    color: $color-taupe-profundo;
    text-align: center;
}

.subtitulos {
    @extend .titulos;
    color: $color-cinereous;
    list-style-type: none;
}

.alineacion {
    text-align: justify;
}

