a {
    color: $color-taupe-profundo;
    text-decoration: none;
    font-size: xx-large;
    &:hover {
        color:black;
    }
}

.titulos {
    color: $color-taupe-profundo;
    text-align: center;
}

.subtitulos {
    color: $color-cinereous;
    list-style-type: none;
    text-align: center;
}

.alineacion {
    text-align: justify;
}